# Binaries
aix
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# Build artifacts
dist/

# Dependency directories
vendor/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Debug files
__debug_bin*
trees/
